{% extends "base.html" %}

{% block content %}
<div class="container">
    <a href="{% url "creditcard_create" %}" class="btn btn-primary " >Agregar</a>
    <h1 class="my-4">Lista de Pagos con Tarjeta de Crédito</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Titular</th>
                <th>Número de Tarjeta</th>
                <th>Fecha de Expiración</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in credit_card_payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.cardholder_name }}</td>
                <td>{{ payment.card_number }}</td>
                <td>{{ payment.expiration_date }}</td>
                <td>
                    <a href="#" class="btn btn-primary open-credit-card-edit-modal" data-payment-id="{{ payment.id }}">Editar</a>
                    <a href="#" class="btn btn-danger deshabilitar-credit-card-payment" data-payment-id="{{ payment.id }}">Deshabilitar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Contenido del modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vehicleModalLabel">Vehículo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div id="paymentModalContent">
          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extrajs %}
<script type="text/javascript">


    
</script>


{% endblock extrajs %}
