{% extends "base.html" %}

{% block content %}
<div class="container">

    <h3>Confirma tu identidad y actualiza tus datos para continuar</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_document" class="form-label">Documento de Identificación</label>
            <input type="text" class="form-control" id="id_document" name="id_document">
        </div>
        <div class="mb-3">
            <label for="emergency_contact" class="form-label">Contacto de Emergencia</label>
            <input type="text" class="form-control" id="emergency_contact" name="emergency_contact">
        </div>
        <div class="mb-3">
            <label for="budget" class="form-label">Presupuesto para alquiler</label>
            <input type="text" class="form-control" id="budget" name="budget">
        </div>
        <div class="mb-3">
            
            <label for="preferred_rental_dates" class="form-label">Fechas y horarios preferidos de alquiler</label>
            <input type="text" class="form-control" id="preferred_rental_dates" name="preferred_rental_dates" placeholder="Este campo se eliminara colocar cualquier valor numerico">
        </div>
        <div class="mb-3">
            <label for="driving_history" class="form-label">Alguna situacion medica que quieras comentar</label>
            <input type="text" class="form-control" id="driving_history" name="driving_history">
        </div>
        <!-- Agrega otros campos del modelo Renter aquí -->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

{% endblock content %}