{% extends "base.html" %}

{% block content %}
<i class="fas fa-h1 fa-2x">{{ vehicle.make }} {{ vehicle.model }}</i>
<div class="container my-5">
        
        <!-- Car Details Start -->
        <div class="featured-category category">
            <div class="container-fluid">
                <div class="container">
                    <div class="car-detail-container">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for imagen in vehicle.image.all %}                                        
                                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                            <img src="{{ imagen.image.url }}" alt="Image {{ forloop.counter }}" class="d-block w-100" alt="Ice Cream">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Siguiente</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </button>
                                </div>
                                <h4>Especificaciones Tecnicas</h4>
                                <div class="car-info">
                                    <div class="row">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="car-info-left">
                                                <h6>Marca: <span>{{ vehicle.make }}</span></h6>
                                                <h6>Modelo: <span>{{ vehicle.model }}</span></h6>
                                                <h6>Tipo: <span>{{ vehicle.Category }}</span></h6>
                                                <h6>Combustible: <span>{{ vehicle.combustible }}</span></h6>
                                                <h6>transmision: <span>{{vehicle.transmision}}</span></h6>
                                                <h6>Puertas: <span>{{vehicle.puertas}}</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="car-info-right">
                                                <h6>Capacidad: <span>{{vehicle.capacidad}}</span></h6>
                                                <h6>Fabricacion: <span>{{vehicle.year}}</span></h6>
                                                <h6>Climatizacion: <span>{{vehicle.climatizacion}}</span></h6>
                                                <h6>Motor: <span>{{vehicle.motor}}</span></h6>
                                                <h6>Kilometraje: <span>{{vehicle.kilometraje}}</span></h6>
                                                <h6>Tipo de Freno: <span>{{vehicle.tipo_freno}}</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <h5>${{vehicle.price_daily}}/Dia</h5>
                                <div class="d-flex mb-3">
                                    <h6 class="mr-2">Valoracion:</h6>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                        <small>(250)</small>
                                    </div>
                                </div>
                                <h5>Descripcion del {{vehicle.make}} {{vehicle.model}}</h5>
                                <p>
                                    {{vehicle.description}}
                                </p>
                                <div class="d-flex pt-1">
                                    <h6>Compartir en:</h6>
                                    <div class="d-flex">
                                        <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <p class="mb-0">
                                    <a class="btn btn-primary" href="{% url "create_reserva" vehicle.id %}">Reservar</a>
                                </p>
                            </div>
                        </div>                                              
                    </div>

                </div>
            </div>
        </div>            
        <!-- Car Details End -->

<!-- Sección de reseñas -->
<div class="reviews-section my-5">
    <h2 class="mb-4">Reseñas de este vehículo</h2>
    <div id="review-list">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-header text-end">
                {{ review.date_added }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Calificación: {{ review.rating }}</h5>
                <p class="card-text">Comentario: {{ review.comment }}</p>
                
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary"><i class="bi bi-hand-thumbs-up"></i></button>
                    <p class="card-text text-end">Valorado por: {{ review.reviewed_by.username }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">No hay reseñas para este vehículo.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    <div class="add-review">
        <h4>Agrega tu reseña</h4>
        {% if user_has_renter_profile %}
            <form id="review-form" method="POST">
            {% csrf_token %}
                <div class="form-group">
                <label for="rating">Calificación (de 1 a 5):</label>
                <input type="number" name="rating" min="1" max="5" required class="form-control">
                </div>
                <div class="form-group">
                <label for="comment">Comentario:</label>
                <textarea name="comment" required class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Comentario</button>
            </form>
        {% else %}
        <div class="block">
            <a class="btn btn-primary px-3 ml-auto" href="{% url "create_renter" %}">Completa tu perfil</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extrajs %}

{% endblock extrajs %}








       