{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Conviértete en Propietario de Vehículos</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_document" class="form-label">Numero de DUI:</label>
                    <input type="text" name="id_document" id="id_document" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="emergency_contact" class="form-label">Contacto de emergencia:</label>
                    <input type="text" name="emergency_contact" id="emergency_contact" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="rental_price_hourly" class="form-label">Precio de renta por hora (Hourly):</label>
                    <input type="text" name="rental_price_hourly" id="rental_price_hourly" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="rental_price_daily" class="form-label">Rental Price (Daily):</label>
                    <input type="text" name="rental_price_daily" id="rental_price_daily" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Availability Hours:</label>
                    <input type="text" name="availability_hours" id="availability_hours" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="rental_conditions" class="form-label">Rental Conditions:</label>
                    <textarea name="rental_conditions" id="rental_conditions" class="form-control" required></textarea>
                </div>
                <!-- Agrega otros campos aquí -->

                <div class="form-group">
                    <label for="foto1_dui">Foto 1 del DUI (Documento de Identificación):</label>
                    <input type="file" class="form-control-file" name="foto1_dui" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="foto2_dui">Foto 2 del DUI:</label>
                    <input type="file" class="form-control-file" name="foto2_dui" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="foto_licencia">Foto de la Licencia:</label>
                    <input type="file" class="form-control-file" name="foto_licencia" accept="image/*" required>
                </div>

                <button type="submit" class="btn btn-primary">Convertirse en Propietario</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}