{% extends "base.html" %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Complete Verification</title>
    <!-- Agrega los enlaces a las bibliotecas de Bootstrap y jQuery -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #fff; color: #000;">
    {% block content %}
    <div class="container mt-4">
        <h1>Crear Perfil de Owner</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.id_document.label_tag }}
                {{ form.id_document }}
            </div>
            <div class="mb-3">
                {{ form.emergency_contact.label_tag }}
                {{ form.emergency_contact }}
            </div>
            <div class="mb-3">
                {{ form.rental_price_hourly.label_tag }}
                {{ form.rental_price_hourly }}
            </div>
            <div class="mb-3">
                {{ form.rental_price_daily.label_tag }}
                {{ form.rental_price_daily }}
            </div>
            <div class="mb-3">
                {{ form.availability_hours.label_tag }}
                {{ form.availability_hours }}
            </div>
            <div class="mb-3">
                {{ form.rental_conditions.label_tag }}
                {{ form.rental_conditions }}
            </div>
            <div class="mb-3">
                {{ form.foto1_dui.label_tag }}
                {{ form.foto1_dui }}
            </div>
            <div class="mb-3">
                {{ form.foto2_dui.label_tag }}
                {{ form.foto2_dui }}
            </div>
            <div class="mb-3">
                {{ form.foto_licencia.label_tag }}
                {{ form.foto_licencia }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Perfil</button>
        </form>
    </div>
{% endblock content %}
</body>