{% extends "base.html" %}

{% comment %} <head>
    <!-- Agrega las referencias a las bibliotecas externas aquí -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head> {% endcomment %}

{% block content %}
{% comment %} <div class="container">
    <h1>Reservar Vehículo</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="start_date">Fecha de inicio:</label>
            <input type="text" class="form-control datepicker" id="start_date" name="start_date" readonly>
        </div>
        <div class="form-group">
            <label for="end_date">Fecha de finalización:</label>
            <input type="text" class="form-control datepicker" id="end_date" name="end_date" readonly>
        </div>
        <div class="form-group">
            <label for="descuento">Descuento:</label>
            <input type="text" class="form-control" id="descuento" name="descuento">
        </div>
        <div class="form-group">
            <label for="seguro">Seguro:</label>
            <select class="form-control" id="seguro" name="seguro">
                <option value="" disabled selected>Selecciona un seguro</option>
                {% for seguro in seguros_disponibles %}
                    <option value="{{ seguro.id }}">{{ seguro.nombre }} {{ seguro.costo_diario}} </option>
                {% endfor %}
            </select>
        </div>
        <!-- Agrega más campos según tus necesidades -->

        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
</div> {% endcomment %}




 <!-- Booking Start -->
 <div class="featured-category category booking">
    <div class="container-fluid">
        <div class="container">
            <form method="post">
                {% csrf_token %}
            <div class="booking-container">
                
                <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <div class="personal-detail">
                            <h3>Detalles del la reserva</h3>
                                
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="First Name" value="{{ profile.nombre }}" required="required" disabled>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="email" class="form-control p-4" placeholder="Your Email" value="{{ user.email }}" required="required" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control p-4" placeholder="Mobile Number" value="{{ profile.numero_telefono }}" required="required" disabled>
                                        </div>
                                    </div>
                                </div>
                                {% comment %} <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Last Name" required="required">
                                    </div>
                                </div> {% endcomment %}
                                <div class="mb-2 col-xxl-6 col-xl-2 col-md-6 col-sm-16">
                                    {% if vehicle_owner.foto_licencia %}
                                        <img src="{{ vehicle_owner.foto_licencia.url }}" alt="{{ usuario.user.username }}"  class="img-fluid img-thumbnail mt-4 mb-2" style="width: 200px; z-index: 1">
                                    {% else %}
                                        <p>No hay imagen actual.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                
                            </div>
                        </div>
                        <div class="booking-detail">
                            <h3>Booking Detail</h3>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Mobile Number" value="{{ profile.numero_telefono }}" required="required" disabled>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Mobile Number" value="{{ profile.numero_telefono }}" required="required" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="start_date">Fecha de inicio:</label>
                                        <input type="text" class="form-control datepicker" id="start_date" name="start_date" readonly>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="end_date">Fecha de finalización:</label>
                                        <input type="text" class="datepicker form-control" id="end_date" name="end_date" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="seguro">Seguro:</label>
                                        <select class="form-control" id="seguro" name="seguro">
                                            <option value="" disabled selected>Selecciona un seguro</option>
                                            {% for seguro in seguros_disponibles %}
                                                <option value="{{ seguro.id }}">{{ seguro.nombre }} {{ seguro.costo_diario}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="descuento">Descuento:</label>
                                        <input type="text" class="form-control" id="descuento" name="descuento">
                                    </div>
                                </div>
                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" placeholder="Special Request" required="required"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="payment-detail">
                            <h3>Metodo de pago</h3>
                            {% comment %} <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div> {% endcomment %}
                            {% for metodo_pago in metodos_pago_disponibles %}
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="{{ metodo_pago.id }}" name="payment" id="directcheck{{ metodo_pago.id }}">
                                        <label class="custom-control-label" for="directcheck{{ metodo_pago.id }}">{{ metodo_pago.name }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-primary py-3 payment-bt">Reservar</button>
                        </div>    
                    </div>
                </div>
            
            </div>
        </form>
        </div>
    </div>
</div>            
<!-- Booking End -->



{% endblock content %}


{% block extrajs %}

<script>
    var date = new Date();
    var options = { timeZone: 'America/El_Salvador' };
    var formattedDate = date.toLocaleDateString('es-SV', options);
    var fechas_disponibles = {{ fechas_disponibles_json|safe }};
    var fechas_no_disponibles = {{ fechas_no_disponibles_json|safe }};

   
$(document).ready(function() {
    // Configura el datepicker
    $("#start_date, #end_date").datepicker({
        dateFormat: 'yy-mm-dd',
        startDate: 'today',
        beforeShowDay: function(date) {
            return [validarFecha(date), ""]; // "validarFecha" es la función que verificará si la fecha es válida
        },
    });
});

function validarFecha(date) {
    var dateString = $.datepicker.formatDate('yy-mm-dd', date);
    return (fechas_no_disponibles.indexOf(dateString) === -1);
}
</script>

{% endblock extrajs %}